body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e3eb;
}

.calculator-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 12px;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 10px 20px 20px;
  border-radius: 12px;
}

.calculator-screen-container {
  height: 80px;
  width: 100%;
  margin-top: 8px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 1px solid #eee;
  border-radius: 6px;
  color: #000e1a;
  text-indent: 2px;
}

button {
    height: 42px;
    width: 42px;
    border-radius: 6px;
    border: none;
    background-color: #eee;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #d8d8d8;
}

button:active {
    background-color: darkgray;
}

.operator {
    color: #2f9fff;
}

.buttons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.calculator-buttons-container {
    display: flex;
    flex-flow: column;
    gap: 10px;
}